body {
    font-family: Lucida Sans, Arial;
 
}

/*header properties */

#wrapper header {
    background-color: #a41e16;
    width: 100%;
    height: 152px;
}

#wrapper header #nav {
    float: right;
}

#wrapper header #logo {
    max-width: 100%;
    height: auto;
    float: left;
}
 
#wrapper header #logo img {
    width: 50%;
    height: 50%;
    margin-left: 40px;
    margin-top: 35px;
}

#wrapper header #nav {
    margin-right: 50px; 
    margin-top: 45px;
}
#wrapper header #nav ul li {
    list-style: none; 
    display: inline;
    margin-right: 60px;
}

#wrapper header #nav ul li a {
    color: #fff;
    font-family: Lucida Sans, Helvetica;
    font-size: 24px;
    text-decoration: none;
}

#wrapper header #nav ul li:nth-child(2) {
    text-decoration: underline;
}



/*slideshow properties */
#wrapper .slideshow-box {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

#wrapper .slideshow-box .mySlides {
    display: none;
}


#wrapper .slideshow-box .mySlides .slide-text {
    color: #000;
    font-size: 90px;  
    position: absolute;   
    top: 30%;
    width: 100%;
    text-align: center;
    font-family: Lucida Sans;
    font-weight: bold;
}

#wrapper .slideshow-box .mySlides img {
    background-size: cover;
    background-position: center; 
    background-repeat:  no-repeat;
    width: 100%;
    height: 40vh;    
}

/* Fading animation */
#wrapper .slideshow-box .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.7s;
  animation-name: fade;
  animation-duration: 1.7s;
}

@-webkit-keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

/*button from the slides*/

#wrapper .slideshow-box .mySlides input.MyButton {
    width: 150px;
    padding: 9px;
    cursor: pointer;
    font-style: italic;
    font-size: 20px;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

#wrapper .slideshow-box .mySlides input.MyButton:hover {
    color: #ffff00;
    background: #000;
    border: 1px solid #ffff00;
}

#wrapper .slideshow-box .mySlides .MyButton {
  position: absolute;
  top: 70%;
  width: 100%;
  left: 45%;
}


/*titles*/

#wrapper #wrap h1{
    text-align: center;
}

#wrapper #wrap h3 {
    text-align: center;
}

#wrapper #wrap #pizza #pizza-base .price, #wrapper #wrap #pizza #pizza-topping .price, 
#wrapper #wrap #pizza #pizza-extras .price, #wrapper #wrap #pizza #pizza-base p span,
#wrapper #wrap #pizza #pizza-topping p span, #wrapper #wrap #pizza #delivery p span {
    color: red;
}



/*address*/
#wrapper #wrap #pizza #delivery {
    width: 300px;
}

#wrapper #wrap #pizza #delivery input[type="text"] {
       float: right;
  }

/*pizza ordering */


#wrapper #wrap #pizza {
    margin-left: 20px;
	width: 400px;
	height: 500px;
   
}

#wrapper #wrap #summary p {
    color: #fff;
}

#wrapper #wrap #summary p:first-child {
	font-weight: bold;
	color: yellow;
	text-align: center;
}

#wrapper #wrap #summary p:nth-child(12) {
	font-weight: bold;
	color: yellow;
}
  

#wrapper #wrap #summary {
	margin-left: 600px;
	margin-top: -600px;
	float: left;
	width: 300px;
	height: auto;
	background-color: #a41e16;
	border-style: solid;
    border-width: 2px;
	padding-left: 20px;
	}


/* footer */

#wrapper #pre-footer {
    width: 100%;
    height: 164px;
    background-color: #a41e16;
    margin-top: 400px;
}


#wrapper #pre-footer #footer-links-1 {
    width: 25%;
    float: left;
}

#wrapper #pre-footer #footer-links-1 ul li {
    list-style: none; 
}

#wrapper #pre-footer #footer-links-1 ul li:first-child {
    font-weight: bold;
    color: #fff;
    font-family: Lucida Sans;
    font-size:  14px;
    padding-bottom: 10px;
    padding-top: 17px;
    margin-left: 100px;
}

#wrapper #pre-footer #footer-links-1 ul li{
    margin-bottom: 10px;
}
#wrapper #pre-footer #footer-links-1 ul li a {
    font-family: Lucida Sans;
    font-size: 14px;
    color: #fff;
    margin-left: 100px;
    text-decoration: none;
}
#wrapper #pre-footer #footer-links-2 {
    width: 25%;
    float: left;
}
#wrapper #pre-footer #footer-links-2 ul li {
    list-style: none; 
}

#wrapper #pre-footer #footer-links-2 ul li:first-child {
    font-weight: bold;
    color: #fff;
    font-family: Lucida Sans;
    font-size:  14px;
    padding-bottom: 10px;
    padding-top: 17px;
    margin-left: 100px;
}

#wrapper #pre-footer #footer-links-2 ul li{
    margin-bottom: 10px;
}
#wrapper #pre-footer #footer-links-2 ul li a {
    font-family: Lucida Sans;
    font-size: 14px;
    color: #fff;
    margin-left: 100px;
    text-decoration: none;
}

#wrapper #pre-footer #subscribe {
    width: 50%;
    float: right;
}

#wrapper #pre-footer #subscribe p:first-child{
    font-family: Lucida Sans;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #fff;
	padding: 0;
}

#wrapper #pre-footer #subscribe p{
    font-family: Lucida Sans;
    font-size: 18px;
    text-align: center;
    color: #fff;
	padding: 0;
}

#wrapper #footer {
    text-align: center;
    margin: 0 auto;
}

#wrapper #footer p {
	font-family: Lucida Sans;
}


/*###########################################################################################################################*/
/* Using media query at a breakpoint of 480px (phones) */
@media screen and (max-width: 480px) {

    /*header properties*/
    
    #wrapper header {
        background-color: #a41e16;
        width: 100%;
        height: 80px;
    }
    
    #wrapper header #logo {
        width: 100px;
        height: 80px;
        float: left;
    }
    
    #wrapper header #logo img {
        width: 100%;
        height: auto;
        margin-left: 15px;
        margin-top: 17px;
    	margin-bottom: 0;
    	margin-right:0;
    }
    
    #wrapper header #nav {
        margin-right: 5px; 
        margin-top: 15px;
    	margin-left: 0;
    	float: right;
    }
    
    #wrapper header #nav ul li {
        list-style: none; 
        display: inline;
        margin-right: 13px;
    	margin-bottom: 0;
    }
    
    #wrapper header #nav ul{
    	margin-right: 0;
    	padding: 0;
    }
    
    #wrapper header #nav ul li a {
        color: #fff;
        font-family: Lucida Sans, Helvetica;
        font-size: 14px;
        text-decoration: none;
    }
    
    
    /*slideshow properties */
    #wrapper .slideshow-box {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    	overflow-y: hidden;
        position: relative;
    }
    
    #wrapper .slideshow-box .mySlides .slide-text {
        color: #000;
        font-size: 45px;  
        position: absolute;   
        top: 20%;
        width: 100%;
        text-align: center;
        font-family: Lucida Sans;
        font-weight: bold;
    }
    
    #wrapper .slideshow-box .mySlides img {
        background-size: cover;
        background-position: center; 
        background-repeat:  no-repeat;
        width: 100%;
        height: 25vh;    
    }
    
    
    /*button from the slides*/
    #wrapper .slideshow-box .mySlides input.MyButton {
        width: 120px;
        padding: 6px;
        cursor: pointer;
        font-style: italic;
        font-size: 15px;
        background: #000;
        color: #fff;
        border: 1px solid #000;
        border-radius: 10px;
    }
    
    #wrapper .slideshow-box .mySlides .MyButton {
      position: absolute;
      top: 70%;
      width: 100%;
      left: 38%;
    }
    
    /*pizza ordering */
    #wrapper #wrap #summary {
    	margin-top: 100px;
    	margin-left: 0;
    	float: left;
    	width: 300px;
    	height: auto;
    	background-color: #a41e16;
    	border-style: solid;
        border-width: 2px;
    	padding-left: 20px;
    	}

    /*footer properties*/
    #wrapper #pre-footer {
        width: 100%;
        height: 280px;
        background-color: #a41e16;
        margin-top: 700px;
    }
    
    #wrapper #pre-footer #footer-links-1 {
        width: 49%;
        float: left;
    }
    
    #wrapper #pre-footer #footer-links-1 ul li:first-child {
        font-weight: bold;
        color: #fff;
        font-family: Lucida Sans;
        font-size:  10px;
        padding-bottom: 8px;
        padding-top: 8px;
        margin-left: 1px;
    }
    
    #wrapper #pre-footer #footer-links-1 ul li{
        margin-bottom: 5px;
    }
    
    #wrapper #pre-footer #footer-links-1 ul li a {
        font-family: Lucida Sans;
        font-size: 10px;
        color: #fff;
        margin-left: 1px;
        text-decoration: none;
    }
    
    #wrapper #pre-footer #footer-links-2 {
        width: 49%;
        float: left;
    }

    #wrapper #pre-footer #footer-links-2 ul li:first-child {
        font-weight: bold;
        color: #fff;
        font-family: Lucida Sans;
        font-size:  10px;
        padding-bottom: 8px;
        padding-top: 8px;
        margin-left: 1px;
    }
    
    #wrapper #pre-footer #footer-links-2 ul li{
        margin-bottom: 5px;
    }
    
    #wrapper #pre-footer #footer-links-2 ul li a {
        font-family: Lucida Sans;
        font-size: 10px;
        color: #fff;
        margin-left: 1px;
        text-decoration: none;
    }
    
    #wrapper #pre-footer #subscribe {
        width: 100%;
        float: right;
    }
    
    #wrapper #pre-footer #subscribe p:first-child{
        font-family: Lucida Sans;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #fff;
    	padding: 0;
    }
    
    #wrapper #pre-footer #subscribe p{
        font-family: Lucida Sans;
        font-size: 13px;
        text-align: center;
        color: #fff;
    	padding: 0;
    }
    
    #wrapper #footer p {
    	font-family: Lucida Sans;
    	font-size: 13px;
    }

} 
/*closing the media screen*/

